@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
header {
    display: flex;
    background-color:#B8F2E6;
    color: black;
    justify-content: space-around;
    padding-top: 25px;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: #FAF3DD;
    font-family: 'Roboto Mono', monospace;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
    
}
.submit {
    width: 100%;
    margin: auto;
}
.race-list {
    width: 90%;
    margin: auto;
}
.list-date {
    margin-top: 0;
}
ul {
    padding-left: 0
}
#search-bar {
    width: 100%;
    padding-top: 20px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    
    
}
a:active {
    color: blue
}
a:visited {
    color: blue
}
a:hover {
    color: purple
}
