
header {
    display: flex;
    background-color: rgba(240, 230, 140, 0.932);
    justify-content: space-around;
    padding-top: 25px;
    height: 50px
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
}
.submit {
    width: 100%;
    margin: auto;
}
.race-list {
    width: 90%;
    margin: auto;
}
.list-date {
    margin-top: 0;
}
ul {
    padding-left: 0
}
#search-bar {
    width: 100%;
    padding-top: 20px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    
    
}
a:visited, a:active {
    color: blue
}